.message_forget p {
color: rgb(255, 0, 0);
width: 25%;
margin: auto;
line-height: 2.3em;
margin-top: 2.1em;
font-size: .9rem;
}

#logged_form input{
    padding: 9px;
    width: 100%;
}


.forgetflex{
    flex-direction: column;
    width: 305px;
}


#logged_form button {
margin-top: 2.7em;
width: 45%;
}



#logged_form h2 {
font-size: 1.2rem;
}

#very_btn {
margin-bottom: 1.7em;
}


#logged_form h4 {
margin-bottom: .4em;
font-size: .9rem;
}




@media (max-width : 1500px) {

.message_forget p {
margin-top: 1.9em;
width: 80%;
line-height: 2.3em;
color: rgb(255, 0, 0);
}

#logged_form h2 {
font-size: 1.1rem;
}

#logged_form input {
width: 100%;
padding: 7px;
padding-left: 11px;
}


#very_btn {
margin-top: 2.1em !important;
}


}
