.slider_div {
width: 100%;
height: auto;
overflow: hidden;
position: relative;
margin-top: 2.1em;
}


.slider_div img {
width: 100%;
cursor: pointer;
}



@media (max-width: 768px) {


.slider_div {
width: 100%;
height: auto;
margin-top: 1.7em;
}


.slider_div img {
width: 100vw;
height: auto;
}

}


@media (min-width : 478px) and (max-width : 768px) {

.slider_div img {
width: 100%;
height: auto;
object-fit: cover; 
}

}

